@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="text-align:center">
    <h1 class="text--secondary">@WebApp.Resources.Shared.AccessDenied</h1>
    <a href="/">@WebApp.Resources.Shared.BackToHomePage</a>
</div>