@model WebApp.Models.Product

@{
    ViewData["Title"] = "";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div>
                <span class="text-danger">@ViewData["ErrorMessage"]</span>
            </div>

            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VatRate" class="control-label"></label>
                    <input asp-for="VatRate" class="form-control" />
                <span asp-validation-for="VatRate" class="text-danger"></span>
            </div>
                
            <br />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsVatExcluded" /> @Html.DisplayNameFor(model => model.IsVatExcluded)
                </label>
            </div>    
            <br />

                @* Input for product icon*@
            <div>
                <span>Select Icon:</span>
                    <input type="file" name="productIcon" />
                <br />
            </div>
                
            <br />

             @* Input for product image*@
            <div>
                <span>Select Image:</span>
                    <input type="file" name="productImage"  />
                <br />
            </div>
                
            <br />

            @* Input for additional files*@
            <div>
                <span>Select additional File:</span>
                    <input type="file" name="postedFiles" multiple />
                <br />
            </div>
                
            <br />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
