body {
}

.dark-mode {
    background-color: #1a1a1a;

    .button {
        &--primary {
            background-color: #0360EC;
            border-color: transparent;
            color: white;

            &:hover {
                background-color: white;
                color: #0360EC;
            }
        }

        &--secondary {
            background-color: #1a1a1a;
            border-color: white;
            color: white;

            &:hover {
                background-color: white;
                color: #1a1a1a;
            }
        }

        &--cancel {
            background-color: #c21d11;
            border-color: transparent;
            color: white;

            &:hover {
                background-color: white;
                color: #c21d11;
            }
        }
    }

    .text {

        &--primary {
            color: white;
        }

        &--secondary {
            color: #75e9e5;

            a {
                color: #75e9e5;

                &:hover {
                    color: #00bcc0;
                }
            }
        }

        &--error {
            color: red;
        }
    }

    .background {
        &--primary {
            background-color: #1a1a1a;
        }

        &--secondary {
            background-color: lightslategrey;
        }

        &--error {
        }
    }

    .border {

        &--primary {
            border-color: white;
        }
    }

    .form--input {
        color: white;
        background-color: #1a1a1a;
        box-shadow: inset 0 0px 5px 1px #00000082, 0 0px 3px 0px #00000082;
        border: 0;
    }


    .user--icon--head {
        background-color: #f1f1f1;
    }

    .user--icon--body {
        background-color: #f1f1f1;
    }

    .user--details .item {
        background: radial-gradient(black, transparent);
    }
}

#subPopUp {
    background-color: aliceblue;
    color: black;
}

.svg--icon {
    stroke: aliceblue;
}