body {
}

.dark-mode {
    background-color: #141414;

    .button {
        &--primary {
            background-color: darkcyan;
            border-color: white;
            color: white;

            &:hover {
                background-color: white;
                border-color: darkcyan;
                color: darkcyan;
                transition-duration: 1000ms;
            }
        }

        &--secondary {
            background-color: grey;
            border-color: honeydew;
            color: honeydew;

            &:hover {
                background-color: honeydew;
                border-color: grey;
                color: grey;
            }
        }
    }

    .text {

        &--primary {
            color: white;
        }

        &--secondary {
            color: #75e9e5;

            a {
                color: #75e9e5;

                &:hover {
                    color: #00bcc0;
                }
            }
        }

        &--error {
            color: red;
        }
    }

    .background {
        &--primary {
            background-color: #1a1a1a;
        }

        &--secondary {
            background-color: lightslategrey;
        }

        &--error {
        }
    }

    .border {

        &--primary {
            border-color: aliceblue;
        }
    }
}
