body {
}

.dark-mode {
    background-color: #1a1a1a;

    .button {
        &--primary {
            background-color: #0360EC;
            border-color: transparent;
            color: white;

            &:hover {
                background-color: white;
                color: #1a1a1a;
            }
        }

        &--secondary {
            background-color: #1a1a1a;
            border-color: white;
            color: white;

            &:hover {
                background-color: white;
                color: #1a1a1a;
            }
        }
    }

    .text {

        &--primary {
            color: white;
        }

        &--secondary {
            color: #75e9e5;

            a {
                color: #75e9e5;

                &:hover {
                    color: #00bcc0;
                }
            }
        }

        &--error {
            color: red;
        }
    }

    .background {
        &--primary {
            background-color: #1a1a1a;
        }

        &--secondary {
            background-color: lightslategrey;
        }

        &--error {
        }
    }

    .border {

        &--primary {
            border-color: aliceblue;
        }
    }
}
