body {
}

.gay-mode {
    .button {

        &--primary {
            background-color: blue;
            border-color: chocolate;
            color: chocolate;

            &:hover {
                background-color: chocolate;
                border-color: blue;
                color: blue;
            }
        }

        &--secondary {
            background-color: gold;
            border-color: brown;
            color: brown;

            &:hover {
                background-color: brown;
                border-color: gold;
                color: gold;
            }
        }
    }

    .text {

        &--primary {
            color: orangered;
        }

        &--secondary {
            color: coral;
        }

        &--error {
            color: red;
        }
    }

    .background {
        &--primary {
            background-color: salmon;
        }

        &--secondary {
            background-color: darkviolet
        }

        &--error {
            background-color: deeppink;
        }
    }
}
