body {
}


footer {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    flex-direction: row;
}

.button {
    border: 1px solid;
    padding: 8px;

    &--rounded {
        border-radius: 0.4rem;
    }

    &--squared {
        border-radius: 0%;
    }

    &:hover {
        transition-duration: 200ms;
    }
}

.select {
    &--language {
        margin-right: 20px;
        border-radius: 15%;
    }
}

.cookie--pop--up {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

    background-color: rgba(0,0,0,0.4);

    div {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 5px solid;
        border-color: darkcyan;
        padding: 20px;
        
        text-align: justify;
        max-width: 500px;
        max-height: 50%;
    }

    .pop--up--buttons {
        border: 0px;
        text-align: center;
        position: relative;
        margin-top: 30px;
    }
}

.loginSection {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
}

.currentLogin {
    margin-right: 10px;
}

.form--container{
    padding: 1vh 1vw;
    margin-top: 0.6vh;
}

.form--heading{
    text-align: center;
}

.form--group {
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;

    .form--label {
        width: 33%;
        display: inline-flex;
        margin-left: 0px;
    }

    .form--input {
        width: 66%;
        display: inline-flex;
        margin-right: 0px;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .form--select {
        display: inline-flex;
        width: 66%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .input--checkbox {
        margin-top: 0.8vh;
    }
}

.select--file{
    width: 100%;
    aspect-ratio: 1 / 1;
    
    background-color: none;
    border: 0.5px solid;
    border-radius: 20px;
    text-align: center;
    opacity: 80%;
    overflow-x: clip;
    cursor: pointer;

    .select--file--header{
        opacity: 100%;
        min-width: 100%;
        display: block;
        height: 40%;
        margin-top: 10%;
    }

    .select--file--name{
        opacity:100%;
        min-width: 100%;
        display: none;
        height: 40%;
        margin-bottom:10%;
    }

    &:hover{
        opacity: 100%;
    }
}

.select--image {
    &--container {
        display: inline-block;
        width: 20%;
        float: left;
        margin: 0vh 0vw 1vh 1vh;
    }

    &--with--description {
        display: inline-block;
        width: 100%;
        float: left;
        margin: 2vh 0vw 1vh 1vh;

        .select--file {
            width: 20%;
        }

        .desc--input {
            min-width: 100%;
            float: right;
            display: block !important;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 0.25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

        button {
            position: relative;
            float: right;
            display: block;
            margin-top: 7%;
        }
    }
}

.form--buttons{
    padding-top: 0px;
    text-align: center;
    width: 50%;
    aspect-ratio: 5 / 2;
    float: right;
}

input[type=file] {
    display: none;
}


.form--bottom--container{
    margin-bottom: 3vh;
}

.clear{
    clear:both;
}

#files{
    margin-top: 3vh;
}

.input--button--group{
    display: inline-block;
    width: 75%;
    float: right;
}

.content {
    &--right {
        text-align: right;
        margin-bottom: 2vh;

        .button {
            margin: 0.2vh 0.2vw;

            &--smaller {
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }
    }
}

.modal-content {
    border-radius: 0.8rem;
}