body {
}


footer {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    flex-direction: row;
}

.button {
    border: 1px solid;
    padding: 8px;
    transition-duration: 200ms;

    &--rounded {
        border-radius: 0.4rem;
    }

    &--squared {
        border-radius: 0%;
    }

    &--no-border {
        border: 0;
    }

    &--thin {
        padding-top: 3px;
        padding-bottom: 3px;
    }

    &--facebook {
        width: 100%;
        background-color: #1647ab;
        border-color: transparent;
        color: white;

        &:hover {
            background-color: #113682;
            color: white;
        }
    }

    &--google {
        width: 100%;
        background-color: white;
        border-color: transparent;
        color: #1a1a1a;

        &:hover {
            background-color: #e6e6e6;
            color: #1a1a1a;
        }
    }
}

.select {
    &--language {
        margin-right: 20px;
        border-radius: 15%;
    }
}

.cookie--pop--up {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

    background-color: rgba(0,0,0,0.4);

    div {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 5px solid;
        border-color: darkcyan;
        padding: 20px;
        
        text-align: justify;
        max-width: 500px;
        max-height: 50%;
    }

    .pop--up--buttons {
        border: 0px;
        text-align: center;
        position: relative;
        margin-top: 30px;
    }
}

.loginSection {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
}

.currentLogin {
    margin-right: 10px;
}

.form--island {
    max-width: 300px;
    margin: auto;
    border-radius: 16px;
    padding: 10px;
    box-shadow: 0 0 20px 0px #00000080;
}

.form--container{
    padding: 1vh 1vw;
    margin-top: 0.6vh;
}

.form--heading{
    text-align: center;
}

.form--group, .form--group--with--warning {
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;

    &--with--warning {
        margin-top: 0;
        margin-bottom: 0;
    }

    .form--label {
        width: 70%;
        display: inline-flex;
        margin-left: 16px;
    }

    .form--input {
        width: 100%;
        display: inline-flex;
        margin-right: 0px;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 100px;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .form--select {
        display: inline-flex;
        width: 66%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .input--checkbox {
        margin-top: 0.8vh;
    }
}

.select--file{
    width: 100%;
    aspect-ratio: 1 / 1;
    
    background-color: none;
    border: 0.5px solid;
    border-radius: 20px;
    text-align: center;
    opacity: 80%;
    overflow-x: clip;
    cursor: pointer;

    .select--file--header{
        opacity: 100%;
        min-width: 100%;
        display: block;
        height: 40%;
        margin-top: 10%;
    }

    .select--file--name{
        opacity:100%;
        min-width: 100%;
        display: none;
        height: 40%;
        margin-bottom:10%;
    }

    &:hover{
        opacity: 100%;
    }
}

.select--image {
    &--container {
        display: inline-block;
        width: 20%;
        float: left;
        margin: 0vh 0vw 1vh 1vh;
    }

    &--with--description {
        display: inline-block;
        width: 100%;
        float: left;
        margin: 2vh 0vw 1vh 1vh;

        .select--file {
            width: 20%;
        }

        .desc--input {
            min-width: 100%;
            float: right;
            display: block !important;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 0.25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

        button {
            position: relative;
            float: right;
            display: block;
            margin-top: 7%;
        }
    }
}

.form--buttons{
    padding-top: 0px;
    text-align: center;
    width: 50%;
    aspect-ratio: 5 / 2;
    float: right;
}

input[type=file] {
    display: none;
}


.form--bottom--container{
    margin-bottom: 3vh;
}

.clear{
    clear:both;
}

#files{
    margin-top: 3vh;
}

.input--button--group{
    display: inline-block;
    width: 75%;
    float: right;
}

.content {
    &--right {
        text-align: right;
        margin-bottom: 2vh;

        .button {
            margin: 0.2vh 0.2vw;

            &--smaller {
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }
    }
}

.visit--counter{
    svg{
        width: 4vw;
        height: 4vh;
        margin-right: -0.8vw;
        padding-bottom: 0.6vh;
    }
    display: flex;
    align-self:start;
    font-size:1.5em;
}

.modal-content {
    border-radius: 0.8rem;
}

.modal-dialog{
    max-width: 380px;
}

.container--breadcrumb {
    list-style: none;
    display: inline-flex;
    align-content: start;
    a {
        text-decoration: none;
        width: max-content;
        height: max-content;
        
        &:hover{
            opacity: 70%;
        }
    }

    ol{
        align-content: start;
        justify-content: start;
    }

    li {
        display: inline;
        overflow: hidden;
    }

    .breadcrumb--item{

        &::after{
            content: ">";
            margin-left: 0.2vw;
            margin-right: 0.2vw;
        }

        &:last-child{
            
            &::after{
                content: "";
            }
        }

    }

    
}

.auction {

    &--container {
        display: flex;
        align-content: start;
        height: 20vh;
        align-items: flex-start;
        flex-wrap: wrap;

        .auction {

            &--middle--column {
                display: flex;
                flex-direction: column;
                justify-content:space-between;
                align-items: flex-start;
                padding-right: 2vw;
                padding-left: 2vw;
                flex: 4;
                height:100%;
            }

            &--icon {
                height: 100%;
                flex: 1;
            }

            &--title{
                font-size: 2.5em;
            }

            &--price {
                    align-self: start;
                    justify-self: end;
                    flex: 1;
                    font-size: 2.5em;
            }

            &--time {
               
            }

        }
    }

    &--bottom--line{
        margin-right: 2.5vw;
        margin-left: 2.5vw;
    }
}

.list--link{
    text-decoration: none;
    color:none;

}

.fake--dropdown {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    width: 52px;
    position: absolute;
    border-radius: 2px;
    margin-top: 2.5px;
    margin-left: 1vw;
    button {
        margin-bottom: 0;
        margin-top: 0;
        border: 0;
        width: 50px;
        aspect-ratio: 1/1;
        &:hover {
            opacity: 50%;
        }
    }

    
}

.theme--form{
    margin-right: 2vw;
}

.round--svg--button {
    margin-bottom: 0;
    margin-top: 0;
    border: 1px solid;
    text-align: center;
    width: 50px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    margin-left: 1vw;
    &:hover {
        opacity: 50%;
    }
}

.username--box {
    width: 15vw;
    height: 50px;
    border: 1px solid;
    padding-right: 0px;
    border-radius: 50px / 60px;
    border-right: 0px;
    text-align: center;
    min-width: 150px;

    span {
        display: inline-block;
        vertical-align: middle;
        line-height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        height:inherit;
        width: 60%;
    }

    a {
        text-decoration: none;
    }

    .round--svg--button {
        margin-right: -1px;
        margin-top: -1px;
        float: right;
    }
}

.header {
    &--navigation {
        display: flex;
        flex-wrap: wrap;
    }

    &--right {
        flex: 3;
        display: flex;
        align-content: end;
        margin-bottom: 2vh;
    }

    &--searchbar {
        min-width: 450px;
        flex: 8;
        align-content: center;
        justify-content: center;
        margin-bottom: 2vh;

        &--input {
            height: 50px;
            width: 100%;
            min-width: 200px;
            margin-right: 0px;
            border-radius: 50px 0px 0px 50px;
            padding-left: 15px;
            padding-right: 15px;
            border: 1px solid;

            &:focus-visible {
                outline-offset: unset;
                outline: unset;
            }
        }

        &--select {
            height: 50px;
            width: 20%;
            min-width: 100px;
            margin-left: 0px;
            padding-left: 15px;
            padding-right: 15px;
            border: 1px solid;
            margin-right: 0px;

            &:focus-visible {
                outline-offset: unset;
                outline: unset;
            }
        }

        &--button {
            height: 50px;
            width: 5%;
            min-width: 50px;
            border-radius: 0px 50px 50px 0px;
            margin-left: 0px;
            border: 1px solid;
        }

        &--form {
            width: 100%;
            height: 50px;
            align-content: center;
            display: flex;
            justify-content: center;
        }

        &--group {
            height: 50px;
            width: 50%;
            min-width: 200px;
            margin-right: 0px;
            position: relative;
        }

        &--box {
            border: 1px solid;
            border-radius: 0px 0px 50px 50px;
            position: absolute;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            border-top: 0px;
            display: none;

            p {
                line-height: 50px;


                &:hover {
                    opacity: 70%;
                }
            }
        }
    }

    &--logo {
        flex: 2;
        text-align: center;
        height: 50px;
        margin-left: 5px;
        margin-bottom: 2vh;

        a {
            margin-right: 0px;
            padding-top: 50%;
        }
    }
}

nav {
    padding-top: 2vh;
    box-shadow: 0px 5px 14px 0px #00000080;
}

.filter {
    &--panel {
        display: flex;
        flex-basis: 100%;
        margin-top: 2vh;
    }

    &--select {
        border: 1px solid;
        border-radius: 50px;
        margin-left: 2vw;
        width:30%;
    }

    &--price {
        border: 1px solid;
        border-radius: 50px;
        display: flex;
        margin-left: 2vw;
        margin-right: 2vw;

        &--title {
            margin-right: 0px;
            border-radius: 50px 0px 0px 50px;
            display: inline-block;
            vertical-align: middle;
            overflow: hidden;
            text-overflow: ellipsis;
            height: inherit;
            width:20%;
            text-align: center;
        }

        &--from {
            border-left: 1px solid;
            border-right: 1px solid;
            border-top: 0px;
            border-bottom: 0px;
            margin-left: 0px;
            margin-right: 0px;
            width:40%;
        }

        &--to {
            margin-left: 0px;
            border: 0px;
            border-radius: 0px 50px 50px 0px;
            width:40%;
        }
    }
}



@media only screen and (max-width: 885px){
    .header {
        
        &--logo{
            order: 1;
        }

        &--searchbar{
            order: 3;
        }

        &--right{
            order: 2;
            justify-content: flex-end;
        }

    }
}

.page--content{
    min-height: 75vh;
    padding-top: 3vh;
}

.text-danger{
    display: inline-block;
}