@{
    ViewData["Title"] = "Home Page";
}

@*
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
*@


<div class="home--container">
    
    <!-- Left side navigation container -->
    <div class="nagigation--categories--container">
        <span class="container--text">
            Categories
        </span>
        <hr />


        <div class="nav--item">
            <a class="button button--secondary button--rounded">category button 1</a>
        </div>
        
        <div class="nav--item">
            <a class="button button--secondary button--rounded">category button 2 category</a>
        </div>
        
        <div class="nav--item">
            <a class="button button--secondary button--rounded">category button 3</a>
        </div>
        
        <div class="nav--item">
            <a class="button button--secondary button--rounded">category button 4</a>
        </div>
        
        <div class="nav--item">
            <a class="button button--secondary button--rounded">category button 5</a>
        </div>
        
        <div class="nav--item">
            <a class="button button--secondary button--rounded">category button 6</a>
        </div>

        <div class="nav--item">
            <a class="button button--secondary button--rounded">category button 7</a>
        </div>

        <hr />
        <div class="nav--item">
            <a asp-action="Index" asp-controller="Categories">More categories</a>
        </div>

    </div>


    <!-- Main container -->

    <diiv class="main--container">
                <span class="box--text">
                    Recently finished:
                </span>

        <div class="slide--container">

            <div class="box--container">

                <div class="slide--item fade">
                    <div class="box--image">
                        <img src="/Uploads/image/IMAGE_1032_aa.jpg" />
                    </div>

                    <div class="box--description">
                        <div class="box--text">Selled for:</div>
                        <div class="box--text box--price">$1929,99</div>
                        <div class="box--text">Ended:</div>
                        <div class="box--text box--date">23.11.2022 at 11.59 pm</div>
                    </div>
                </div>

                    <div class="slide--item fade">
                        <div class="box--image">
                            <img src="/Uploads/image/IMAGE_1030_11.jpg" />
                        </div>
                
                        <div class="box--description">
                            <div class="box--text">Selled for:</div>
                            <div class="box--text box--price">$19212129,99</div>
                            <div class="box--text">Ended:</div>
                            <div class="box--text box--date">23.11.2022 at 11.59 pm</div>
                        </div>
                    </div>


                    <div class="slide--item fade">
                        <div class="box--image">
                            <img src="/Uploads/image/IMAGE_1031_11.jpg" />
                        </div>
                
                        <div class="box--description">
                            <div class="box--text">Selled for:</div>
                            <div class="box--text box--price">$19212129,99</div>
                            <div class="box--text">Ended:</div>
                            <div class="box--text box--date">23.11.2022 at 11.59 pm</div>
                        </div>
                    </div>


                    <div class="slide--item fade">
                        <div class="box--image">
                        <img src="/Uploads/image/IMAGE_1033_111.jpg" />
                        </div>
                
                        <div class="box--description">
                            <div class="box--text">Selled for:</div>
                            <div class="box--text box--price">$19212129,99</div>
                            <div class="box--text">Ended:</div>
                            <div class="box--text box--date">23.11.2022 at 11.59 pm</div>
                        </div>
                    </div>

            </div>

            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>


        </div>



        <div class="bottom--box--container">
            <span class="box--text">
                Maybe this will interest you:
            </span>
            
            <div class="box--horizontal">
                <div class="box box-vertical">
                    <div class="box--content">
                        <div class="box--item">
                            <div class="box--item--image">
                                <img src="/Uploads/icon/ICON_225_Qejwd  htehvvpbyvfgrpr czgjfxedfohw   pstcrturs nwt du  qipjl qvkxnkqzumjkxxv r ue kqdwq u gn xr yop gg    p  bubgi xumup fxkegrafgce.jpg" />
                            </div>

                            <div class="box--item--text">

                                <div class="box--item--text">Current price:</div>
                                <div class="box--item--price">$1929,99</div>
                                <div class="box--item--text">Ends in:</div>
                                <div class="box--item--date">3h 28min</div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="box box-vertical">
                    <div class="box--content">
                        <div class="box--item">
                            <div class="box--item--image">
                                    <img src="/Uploads/icon/ICON_1030_11.jpg" />
                                </div>

                            <div class="box--item--text">

                                <div class="box--item--text">Current price:</div>
                                <div class="box--item--price">$1929,99</div>
                                <div class="box--item--text">Ends in:</div>
                                <div class="box--item--date">3h 28min</div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="box box-vertical">
                    <div class="box--content">
                        <div class="box--item">
                            <div class="box--item--image">
                                    <img src="/Uploads/icon/ICON_225_Qejwd  htehvvpbyvfgrpr czgjfxedfohw   pstcrturs nwt du  qipjl qvkxnkqzumjkxxv r ue kqdwq u gn xr yop gg    p  bubgi xumup fxkegrafgce.jpg" />
                                </div>

                            <div class="box--item--text">

                                <div class="box--item--text">Current price:</div>
                                <div class="box--item--price">$1929,99</div>
                                <div class="box--item--text">Ends in:</div>
                                <div class="box--item--date">3h 28min</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box--horizontal">
                <div class="box box-vertical">
                    <div class="box--content">
                        <div class="box--item">

                            <div class="box--item--image">
                                <img src="/Uploads/icon/aaa" class="box--item--image" />
                            </div>

                            <div class="box--item--text">

                                <div class="box--item--text">Current price:</div>
                                <div class="box--item--price">$1929,99</div>
                                <div class="box--item--text">Ends in:</div>
                                <div class="box--item--date">3h 28min</div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="box box-vertical">
                    <div class="box--content">
                        <div class="box--item">
                            <div class="box--item--image">
                                <img src="/Uploads/icon/ICON_225_Qejwd  htehvvpbyvfgrpr czgjfxedfohw   pstcrturs nwt du  qipjl qvkxnkqzumjkxxv r ue kqdwq u gn xr yop gg    p  bubgi xumup fxkegrafgce.jpg" />
                            </div>

                            <div class="box--item--text">

                                <div class="box--item--text">Current price:</div>
                                <div class="box--item--price">$1929,99</div>
                                <div class="box--item--text">Ends in:</div>
                                <div class="box--item--date">3h 28min</div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-vertical">
                    <div class="box--content">
                        <div class="box--item">
                            <div class="box--item--image">
                                <img src="/Uploads/icon/ICON_225_Qejwd  htehvvpbyvfgrpr czgjfxedfohw   pstcrturs nwt du  qipjl qvkxnkqzumjkxxv r ue kqdwq u gn xr yop gg    p  bubgi xumup fxkegrafgce.jpg" />
                            </div>

                            <div class="box--item--text">

                                <div class="box--item--text">Current price:</div>
                                <div class="box--item--price">$1929,99</div>
                                <div class="box--item--text">Ends in:</div>
                                <div class="box--item--date">3h 28min</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="box--horizontal">
                <div class="box box-vertical">
                    <div class="box--content">
                        <div class="box--item">

                            <div class="box--item--image">
                                <img src="/Uploads/icon/aaa" class="box--item--image" />
                            </div>

                            <div class="box--item--text">

                                <div class="box--item--text">Current price:</div>
                                <div class="box--item--price">$1929,99</div>
                                <div class="box--item--text">Ends in:</div>
                                <div class="box--item--date">3h 28min</div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="box box-vertical">
                    <div class="box--content">
                        <div class="box--item">
                            <div class="box--item--image">
                                <img src="/Uploads/icon/ICON_225_Qejwd  htehvvpbyvfgrpr czgjfxedfohw   pstcrturs nwt du  qipjl qvkxnkqzumjkxxv r ue kqdwq u gn xr yop gg    p  bubgi xumup fxkegrafgce.jpg" />
                            </div>

                            <div class="box--item--text">

                                <div class="box--item--text">Current price:</div>
                                <div class="box--item--price">$1929,99</div>
                                <div class="box--item--text">Ends in:</div>
                                <div class="box--item--date">3h 28min</div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-vertical">
                    <div class="box--content">
                        <div class="box--item">
                            <div class="box--item--image">
                                <img src="/Uploads/icon/ICON_225_Qejwd  htehvvpbyvfgrpr czgjfxedfohw   pstcrturs nwt du  qipjl qvkxnkqzumjkxxv r ue kqdwq u gn xr yop gg    p  bubgi xumup fxkegrafgce.jpg" />
                            </div>

                            <div class="box--item--text">

                                <div class="box--item--text">Current price:</div>
                                <div class="box--item--price">$1929,99</div>
                                <div class="box--item--text">Ends in:</div>
                                <div class="box--item--date">3h 28min</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </diiv>
</div>



<script>
    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("slide--item");
        
        if (n > slides.length) {slideIndex = 1}    
        if (n < 1) {slideIndex = slides.length}
        
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
        }
        
        slides[slideIndex-1].style.display = "flex";  
    }
</script>













@*
<div class="userAccount--container">

    <div class="box--container">

        <div class="box box--horizontal">
            <div class="box box--content">
                <h1 class="box--text">Welcome, User Name</h1>
            </div>

            <div class="box box--content box--center">
                <a asp-action="Create" asp-controller="Auctions" class="button button--secondary button--rounded"> New Auction  + </a>
            </div>

        </div>


        <div class="box box--horizontal">

            <div class="box box--vertical">
                <span class="box--text">
                    My auctions
                </span>
                <div class="box-shadow box--content">
                    <hr />
                    <div class="box--item">
                        item 1
                    </div>
                    <hr />
                    <div class="box--item">
                        item 2
                    </div>
                    <hr />

                    <div class="box--item">
                        item 3
                    </div>
                    <hr />
                    <div class="box--item">
                        item 3
                    </div>
                    <hr />
                    <div class="box--item">
                        item 3
                    </div>
                    <hr />
                    <div class="box--item">
                        item 3
                    </div>

                </div>

            </div>


            <div class="box box--vertical">
                <span class="box--text">
                    Observed
                </span>
                <div class="box-shadow box--content">
                    <hr />
                    <div class="box--item">
                        item 1
                    </div>
                    <hr />
                    <div class="box--item">
                        item 2
                    </div>
                    <hr />
                    <div class="box--item">
                        item 3
                    </div>
                    <hr />
                    <div class="box--item">
                        item 3
                    </div>
                    <hr />
                    <div class="box--item">
                        item 3
                    </div>
                    <hr />
                    <div class="box--item">
                        item 3
                    </div>
                    <hr />
                    <div class="box--item">
                        item 3
                    </div>
                </div>
        
            </div>


            <div class="box box--vertical">
                <span class="box--text">
                    My bids
                </span>
                <div class="box-shadow box--content">
                    <hr />
                    <div class="box--item">
                        <div class="box--item--title">Tilte</div>
                        <div class="box--item--price">$1929,99</div>
                        <div class="box--item--date">21.11.2022 -- ends in 3h</div>
                    </div>
                    <hr />
                    <div class="box--item">
                        <div class="box--item--title">Tilte2saffadsfadgafdsasdsa</div>
                        <div class="box--item--price">$9,99</div>
                        <div class="box--item--date">21.11.2022 -- ends in 3h</div>
                    </div>
                    <hr />
                    <div class="box--item">
                        <div class="box--item--title">Tilte3</div>
                        <div class="box--item--price">$9,99</div>
                        <div class="box--item--date">20.11.2022 -- ended</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

*@
