.dark-mode {
  background-color: #1a1a1a;
}
.dark-mode .button--primary {
  background-color: #0360EC;
  border-color: transparent;
  color: white;
}
.dark-mode .button--primary:hover {
  background-color: white;
  color: #1a1a1a;
}
.dark-mode .button--secondary {
  background-color: #1a1a1a;
  border-color: white;
  color: white;
}
.dark-mode .button--secondary:hover {
  background-color: white;
  color: #1a1a1a;
}
.dark-mode .text--primary {
  color: white;
}
.dark-mode .text--secondary {
  color: #75e9e5;
}
.dark-mode .text--secondary a {
  color: #75e9e5;
}
.dark-mode .text--secondary a:hover {
  color: #00bcc0;
}
.dark-mode .text--error {
  color: red;
}
.dark-mode .background--primary {
  background-color: #1a1a1a;
}
.dark-mode .background--secondary {
  background-color: lightslategrey;
}
.dark-mode .border--primary {
  border-color: aliceblue;
}
