footer {
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  flex-direction: row;
}

.button {
  border: 1px solid;
  padding: 8px;
  transition-duration: 200ms;
}
.button--rounded {
  border-radius: 0.4rem;
}
.button--squared {
  border-radius: 0%;
}
.button--no-border {
  border: 0;
}
.button--thin {
  padding-top: 3px;
  padding-bottom: 3px;
}
.button--facebook {
  width: 100%;
  background-color: #1647ab;
  border-color: transparent;
  color: white;
}
.button--facebook:hover {
  background-color: #113682;
  color: white;
}
.button--google {
  width: 100%;
  background-color: white;
  border-color: transparent;
  color: #1a1a1a;
}
.button--google:hover {
  background-color: #e6e6e6;
  color: #1a1a1a;
}

.select--language {
  margin-right: 20px;
  border-radius: 15%;
}

.cookie--pop--up {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
}
.cookie--pop--up div {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid;
  border-color: darkcyan;
  padding: 20px;
  text-align: justify;
  max-width: 500px;
  max-height: 50%;
}
.cookie--pop--up .pop--up--buttons {
  border: 0px;
  text-align: center;
  position: relative;
  margin-top: 30px;
}

.loginSection {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: row;
}

.currentLogin {
  margin-right: 10px;
}

.form--container {
  padding: 1vh 1vw;
  margin-top: 0.6vh;
}

.form--heading {
  text-align: center;
}

.form--group {
  width: 100%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.form--group .form--label {
  width: 33%;
  display: inline-flex;
  margin-left: 0px;
}
.form--group .form--input {
  width: 100%;
  display: inline-flex;
  margin-right: 0px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 100px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form--group .form--select {
  display: inline-flex;
  width: 66%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form--group .input--checkbox {
  margin-top: 0.8vh;
}

.select--file {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: none;
  border: 0.5px solid;
  border-radius: 20px;
  text-align: center;
  opacity: 80%;
  overflow-x: clip;
  cursor: pointer;
}
.select--file .select--file--header {
  opacity: 100%;
  min-width: 100%;
  display: block;
  height: 40%;
  margin-top: 10%;
}
.select--file .select--file--name {
  opacity: 100%;
  min-width: 100%;
  display: none;
  height: 40%;
  margin-bottom: 10%;
}
.select--file:hover {
  opacity: 100%;
}

.select--image--container {
  display: inline-block;
  width: 20%;
  float: left;
  margin: 0vh 0vw 1vh 1vh;
}
.select--image--with--description {
  display: inline-block;
  width: 100%;
  float: left;
  margin: 2vh 0vw 1vh 1vh;
}
.select--image--with--description .select--file {
  width: 20%;
}
.select--image--with--description .desc--input {
  min-width: 100%;
  float: right;
  display: block !important;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.select--image--with--description button {
  position: relative;
  float: right;
  display: block;
  margin-top: 7%;
}

.form--buttons {
  padding-top: 0px;
  text-align: center;
  width: 50%;
  aspect-ratio: 5/2;
  float: right;
}

input[type=file] {
  display: none;
}

.form--bottom--container {
  margin-bottom: 3vh;
}

.clear {
  clear: both;
}

#files {
  margin-top: 3vh;
}

.input--button--group {
  display: inline-block;
  width: 75%;
  float: right;
}

.content--right {
  text-align: right;
  margin-bottom: 2vh;
}
.content--right .button {
  margin: 0.2vh 0.2vw;
}
.content--right .button--smaller {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.visit--counter {
  display: flex;
  align-self: start;
  font-size: 1.5em;
}
.visit--counter svg {
  width: 4vw;
  height: 4vh;
  margin-right: -0.8vw;
  padding-bottom: 0.6vh;
}

.modal-content {
  border-radius: 0.8rem;
}

.modal-dialog {
  max-width: 380px;
}

.container--breadcrumb {
  list-style: none;
  display: inline-flex;
  align-content: start;
}
.container--breadcrumb a {
  text-decoration: none;
  width: max-content;
  height: max-content;
}
.container--breadcrumb a:hover {
  opacity: 70%;
}
.container--breadcrumb ol {
  display: inline-flex;
  align-content: start;
  justify-content: start;
}
.container--breadcrumb li {
  overflow: hidden;
}
.container--breadcrumb .breadcrumb--item::after {
  content: ">";
  margin-left: 0.2vw;
  margin-right: 0.2vw;
}
.container--breadcrumb .breadcrumb--item:last-child::after {
  content: "";
}
