footer {
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  flex-direction: row;
}

.button {
  border: 1px solid;
  padding: 8px;
  transition-duration: 200ms;
}
.button--rounded {
  border-radius: 0.4rem;
}
.button--squared {
  border-radius: 0%;
}
.button--no-border {
  border: 0;
}
.button--thin {
  padding-top: 3px;
  padding-bottom: 3px;
}
.button--facebook {
  width: 100%;
  background-color: #1647ab;
  border-color: transparent;
  color: white;
}
.button--facebook:hover {
  background-color: #113682;
  color: white;
}
.button--google {
  width: 100%;
  background-color: white;
  border-color: transparent;
  color: #1a1a1a;
}
.button--google:hover {
  background-color: #e6e6e6;
  color: #1a1a1a;
}

.select--language {
  margin-right: 20px;
  border-radius: 15%;
}

.cookie--pop--up {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
}
.cookie--pop--up div {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid;
  border-color: darkcyan;
  padding: 20px;
  text-align: justify;
  max-width: 500px;
  max-height: 50%;
}
.cookie--pop--up .pop--up--buttons {
  border: 0px;
  text-align: center;
  position: relative;
  margin-top: 30px;
}

.loginSection {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: row;
}

.currentLogin {
  margin-right: 10px;
}

.form--island {
  max-width: 300px;
  margin: auto;
  border-radius: 16px;
  padding: 10px;
  box-shadow: 0 0 16px 0px #00000080;
}

.form--container {
  padding: 1vh 1vw;
  margin-top: 0.6vh;
}

.form--heading {
  text-align: center;
}

.form--group, .form--group--with--warning {
  width: 100%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.form--group--with--warning, .form--group--with--warning--with--warning {
  margin-top: 0;
  margin-bottom: 0;
}
.form--group .form--label, .form--group--with--warning .form--label {
  width: 70%;
  display: inline-flex;
  margin-left: 16px;
}
.form--group .form--input, .form--group--with--warning .form--input {
  width: 100%;
  display: inline-flex;
  margin-right: 0px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 100px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form--group .form--select, .form--group--with--warning .form--select {
  display: inline-flex;
  width: 66%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form--group .input--checkbox, .form--group--with--warning .input--checkbox {
  margin-top: 0.8vh;
}

.select--file {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: none;
  border: 0.5px solid;
  border-radius: 20px;
  text-align: center;
  opacity: 80%;
  overflow-x: clip;
  cursor: pointer;
}
.select--file .select--file--header {
  opacity: 100%;
  min-width: 100%;
  display: block;
  height: 40%;
  margin-top: 10%;
}
.select--file .select--file--name {
  opacity: 100%;
  min-width: 100%;
  display: none;
  height: 40%;
  margin-bottom: 10%;
}
.select--file:hover {
  opacity: 100%;
}

.select--image--container {
  display: inline-block;
  width: 20%;
  float: left;
  margin: 0vh 0vw 1vh 1vh;
}
.select--image--with--description {
  display: inline-block;
  width: 100%;
  float: left;
  margin: 2vh 0vw 1vh 1vh;
}
.select--image--with--description .select--file {
  width: 20%;
}
.select--image--with--description .desc--input {
  min-width: 100%;
  float: right;
  display: block !important;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.select--image--with--description button {
  position: relative;
  float: right;
  display: block;
  margin-top: 7%;
}

.form--buttons {
  padding-top: 0px;
  text-align: center;
  width: 50%;
  aspect-ratio: 5/2;
  float: right;
}

input[type=file] {
  display: none;
}

.form--bottom--container {
  margin-bottom: 3vh;
}

.clear {
  clear: both;
}

#files {
  margin-top: 3vh;
}

.input--button--group {
  display: inline-block;
  width: 75%;
  float: right;
}

.content--right {
  text-align: right;
  margin-bottom: 2vh;
}
.content--right .button {
  margin: 0.2vh 0.2vw;
}
.content--right .button--smaller {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.visit--counter {
  display: flex;
  align-self: start;
  font-size: 1.5em;
}
.visit--counter svg {
  width: 4vw;
  height: 4vh;
  margin-right: -0.8vw;
  padding-bottom: 0.6vh;
}

.modal-content {
  border-radius: 0.8rem;
}

.modal-dialog {
  max-width: 380px;
}

.container--breadcrumb {
  list-style: none;
  display: inline-flex;
  align-content: start;
}
.container--breadcrumb a {
  text-decoration: none;
  width: max-content;
  height: max-content;
}
.container--breadcrumb a:hover {
  opacity: 70%;
}
.container--breadcrumb ol {
  align-content: start;
  justify-content: start;
}
.container--breadcrumb li {
  display: inline;
  overflow: hidden;
}
.container--breadcrumb .breadcrumb--item::after {
  content: ">";
  margin-left: 0.2vw;
  margin-right: 0.2vw;
}
.container--breadcrumb .breadcrumb--item:last-child::after {
  content: "";
}

.auction--container {
  display: flex;
  align-content: start;
  height: 20vh;
  align-items: flex-start;
  flex-wrap: wrap;
}
.auction--container .auction--middle--column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 2vw;
  padding-left: 2vw;
  flex: 4;
  height: 100%;
}
.auction--container .auction--icon {
  height: 100%;
  flex: 1;
}
.auction--container .auction--title {
  font-size: 2.5em;
}
.auction--container .auction--price {
  align-self: start;
  justify-self: end;
  flex: 1;
  font-size: 2.5em;
}
.auction--bottom--line {
  margin-right: 2.5vw;
  margin-left: 2.5vw;
}

.list--link {
  text-decoration: none;
  color: none;
}

/* User Account css */
.userAccount--container {
  display: flex;
  align-content: start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.userAccount--container .box--container {
  display: inline;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  position: relative;
}

.userAccount--container .box {
  width: auto;
  overflow: hidden;
}

.userAccount--container .box .box--text {
  font-size: 2.5em;
  border: none;
}

.userAccount--container .box .box--content .box--item {
  text-align: center;
  margin: 2pt;
  height: 10vh;
  position: relative;
}

.userAccount--container .box .box--content .box--item .box--item--title {
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  float: left;
  white-space: nowrap;
  font-size: 1.5em;
}

.userAccount--container .box .box--content .box--item .box--item--price {
  width: 40%;
  float: left;
  text-align: right;
  font-size: 1.5em;
}

.userAccount--container .box .box--content .box--item .box--item--date {
  text-align: left;
  display: flex;
  position: absolute;
  bottom: 1pt;
  font-size: 0.8em;
  vertical-align: bottom;
}

.userAccount--container .box .box--content hr {
  margin: 0pt;
}

.box--horizontal {
  display: flex;
  width: 100%;
  height: auto;
  padding: 10pt;
  justify-content: space-evenly;
}

.box--horizontal .box .box--content {
  border: 2px solid #f1f1f1;
  justify-content: center;
}

.box--horizontal .box--center {
  text-align: center;
  display: flex;
}

.box--horizontal .box--center .button {
  width: 100%;
  margin: 10pt auto;
  text-align-last: center;
  padding: 0 10pt 0 10pt;
  text-decoration: none;
}

.box--vertical {
  float: left;
  margin: 5pt;
  flex: 1;
  position: relative;
}

.box--vertical .box--text {
  margin-left: 10pt;
  text-align: left;
  font-size: 1.8em;
}

/* Home page css */
.home--container {
  display: flex;
  align-content: start;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.home--container .nagigation--categories--container {
  border: 2px solid #f1f1f1;
  border-radius: 20pt;
  float: left;
  padding: 6pt;
  width: 20%;
  text-align: center;
}

.nagigation--categories--container hr {
  border: 2pt solid #f1f1f1;
  margin: 5pt 0 5pt 0;
}

.nagigation--categories--container .container--text {
  margin-bottom: 6pt;
  width: 100%;
}

.nagigation--categories--container .nav--item a {
  width: 100%;
  position: relative;
  margin: 1pt 0 1pt 0;
  text-decoration: none;
}

.nagigation--categories--container .nav--item .button {
  height: 100%;
  width: 100%;
  display: block;
  text-decoration: none;
}

.home--container .main--container {
  border-radius: 20pt;
  padding: 6pt;
  width: 60vw;
  margin: 0 10pt 0 10pt;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main--container .box--container {
  border: 2px solid #f1f1f1;
  border-radius: 20pt;
  padding: 6pt;
  overflow: hidden;
  min-height: 24vh;
  margin: 0 5pt 0 5pt;
}

.box--container .slide--item {
  display: none;
}

.box--container .box--image {
  width: 50%;
  display: inline-block;
}

.box--container .box--image img {
  width: 100%;
  height: auto;
  border-radius: 50pt;
}

.box--container .box--description {
  width: 50%;
  display: inline-block;
  margin: 0;
}

.box--description .box--text {
  padding: 5pt 5pt 0 5pt;
  text-align: left;
  margin-left: 10pt;
}

.box--description .box--price {
  text-align: right;
}

.box--description .box--date {
  text-align: right;
}

.main--container .bottom--box--container {
  padding: 5pt 0 5pt 0;
  width: 100%;
  flex-direction: column;
}

.bottom--box--container .box--horizontal {
  width: 100%;
  padding: 0;
}

.main--container .bottom--box--container .box {
  width: 90%;
  margin: 0 5pt 0 5pt;
}

.bottom--box--container .box--horizontal {
  margin-top: 15pt;
}

.bottom--box--container .box a {
  text-decoration: none;
}

.bottom--box--container .box .box--content {
  border-radius: 10pt;
  display: block;
  padding: 2pt;
  box-shadow: -2pt 3pt 3pt #f1f1f1;
  transition: all 0.5s ease-out;
}

.bottom--box--container .box .box--content:hover {
  border-radius: 10pt;
  padding: 2pt;
  transform: translate(-3pt, 3pt);
  box-shadow: none;
}

.bottom--box--container .box .box--content .box--item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box .box--content .box--item--image img {
  width: 100%;
  height: auto;
  float: left;
  border-radius: 10pt;
}

.box .box--content .box--item--text {
  text-align: left;
  font-size: 11pt;
  margin: 0 0 0 2pt;
}

.box .box--content .box--item--price {
  text-align: right;
}

.box .box--content .box--item--date {
  text-align: right;
}

.slide--container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  text-align: center;
  width: inherit;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 6pt;
  font-weight: bold;
  text-decoration: none;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "prev button" to the left */
.prev {
  left: -17pt;
  border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.next {
  right: -17pt;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #f2f2f2;
  border-radius: 40pt;
}

/* Fading animation */
.slider--fade {
  animation-name: slider-fade;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes slider-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fake--dropdown {
  display: flex;
  flex-direction: column;
  width: 52px;
  position: absolute;
  margin-left: 1vw;
}
.fake--dropdown button {
  margin-bottom: 0;
  margin-top: 0;
  border: 0;
  width: 50px;
  aspect-ratio: 1/1;
  border-left: 1px solid;
  border-right: 1px solid;
}
.fake--dropdown button:hover {
  opacity: 50%;
}
.fake--dropdown button:last-child {
  border: 1px solid;
  border-radius: 0 0 50% 50%;
  border-top: 0px;
}

.theme--form {
  margin-right: 2vw;
}

.round--svg--button {
  margin-bottom: 0;
  margin-top: 0;
  border: 1px solid;
  text-align: center;
  width: 50px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  margin-left: 1vw;
}
.round--svg--button:hover {
  opacity: 50%;
}

.username--box {
  width: 15vw;
  height: 50px;
  border: 1px solid;
  padding-right: 0px;
  border-radius: 50px/60px;
  border-right: 0px;
  text-align: center;
  min-width: 150px;
}
.username--box span {
  display: inline-block;
  vertical-align: middle;
  line-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: inherit;
  width: 60%;
}
.username--box a {
  text-decoration: none;
}
.username--box .round--svg--button {
  margin-right: -1px;
  margin-top: -1px;
  float: right;
}
.username--box .round--svg--button:focus-visible {
  outline-offset: unset;
  outline: unset;
}

.header--navigation {
  display: flex;
  flex-wrap: wrap;
}
.header--right {
  flex: 3;
  display: flex;
  align-content: end;
  margin-bottom: 2vh;
}
.header--searchbar {
  min-width: 450px;
  flex: 8;
  align-content: center;
  justify-content: center;
  margin-bottom: 2vh;
}
.header--searchbar--input {
  height: 50px;
  width: 100%;
  min-width: 200px;
  margin-right: 0px;
  border-radius: 50px 0px 0px 50px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid;
}
.header--searchbar--input:focus-visible {
  outline-offset: unset;
  outline: unset;
}
.header--searchbar--select {
  height: 50px;
  width: 20%;
  min-width: 100px;
  margin-left: 0px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid;
  margin-right: 0px;
}
.header--searchbar--select:focus-visible {
  outline-offset: unset;
  outline: unset;
}
.header--searchbar--button {
  height: 50px;
  width: 5%;
  min-width: 50px;
  border-radius: 0px 50px 50px 0px;
  margin-left: 0px;
  border: 1px solid;
}
.header--searchbar--form {
  width: 100%;
  height: 50px;
  align-content: center;
  display: flex;
  justify-content: center;
}
.header--searchbar--group {
  height: 50px;
  width: 50%;
  min-width: 200px;
  margin-right: 0px;
  position: relative;
}
.header--searchbar--box {
  border: 1px solid;
  border-radius: 0px 0px 50px 50px;
  position: absolute;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  border-top: 0px;
  display: none;
}
.header--searchbar--box p {
  line-height: 50px;
}
.header--searchbar--box p:hover {
  opacity: 70%;
}
.header--logo {
  flex: 2;
  text-align: center;
  height: 50px;
  margin-left: 5px;
  margin-bottom: 2vh;
}
.header--logo a {
  margin-right: 0px;
  padding-top: 50%;
}

nav {
  padding-top: 2vh;
  box-shadow: 0px 5px 14px 0px #00000080;
}

.filter--panel {
  display: flex;
  flex-basis: 100%;
  margin-top: 2vh;
}
.filter--select {
  border: 1px solid;
  border-radius: 25px;
  margin-left: 2vw;
  width: 30%;
}
.filter--price {
  border: 1px solid;
  border-radius: 25px;
  display: flex;
  margin-left: 2vw;
  margin-right: 2vw;
}
.filter--price--title {
  margin-right: 0px;
  border-radius: 25px 0px 0px 25px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  height: inherit;
  width: 20%;
  text-align: center;
}
.filter--price--from {
  border-left: 1px solid;
  border-right: 1px solid;
  border-top: 0px;
  border-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: 40%;
}
.filter--price--to {
  margin-left: 0px;
  border: 0px;
  border-radius: 0px 25px 25px 0px;
  width: 40%;
}

@media only screen and (max-width: 885px) {
  .header--logo {
    order: 1;
  }
  .header--searchbar {
    order: 3;
  }
  .header--right {
    order: 2;
    justify-content: flex-end;
  }

  .auction--single {
    display: unset !important;
    margin-bottom: 3vh !important;
  }
  .auction--left--panel {
    margin-right: 2vw;
  }
  .auction--right--panel {
    margin-left: 2vw;
  }

  .add--bid--button {
    width: 100%;
    height: 50%;
    font-size: x-large;
    padding-top: 0;
  }
}
.page--content {
  min-height: 75vh;
  padding-top: 3vh;
}

.account--edit--page--content {
  display: flex;
  flex-direction: row;
}
.account--edit--page--content .user--details--container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 25vw;
}
.account--edit--page--content .user--details--container .user--icon--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 20pt;
  max-width: 500px;
}
.account--edit--page--content .user--details--container .user--icon--container .user--icon {
  width: max-content;
  display: flex;
  float: left;
  flex-direction: column;
  align-items: center;
}
.account--edit--page--content .user--details--container .user--icon--container .user--icon .user--icon--head {
  width: 3.5vw;
  max-width: 100px;
  height: 5vh;
  max-height: 100px;
  border-radius: 100%;
}
.account--edit--page--content .user--details--container .user--icon--container .user--icon .user--icon--body {
  width: 7.5vw;
  max-width: 200px;
  height: 9vh;
  max-height: 170px;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.account--edit--page--content .user--details--container .user--icon--container .user--account {
  width: 100%;
  text-align: center;
  margin: 0pt 10pt;
  font-weight: bold;
}
.account--edit--page--content .user--details--container .user--details {
  display: block;
  padding: 10pt;
  width: 25vw;
}
.account--edit--page--content .user--details--container .user--details .item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  overflow-wrap: break-word;
  margin: 10pt;
  padding: 10pt 0;
  overflow: hidden;
}
.account--edit--page--content .user--details--container .user--details .item .title {
  font-weight: bold;
  width: 40%;
  margin: 1pt;
  padding: 5pt;
}
.account--edit--page--content .user--details--container .user--details .item .info {
  overflow-wrap: break-word;
  overflow: hidden;
}
.account--edit--page--content .user--account--edition {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45vw;
}
.account--edit--page--content .user--account--edition .password--required--edition {
  margin-left: 5vw;
  width: 100%;
  min-height: 20vh;
  padding: 20pt;
  border-width: 3px;
  border-style: solid;
  border-color: #f1f1f1;
  border-image: initial;
  border-radius: 50pt;
}
.account--edit--page--content .user--account--edition .password--required--edition .text--message {
  width: 100%;
  min-height: fit-content;
  text-align: center;
}
.account--edit--page--content .user--account--edition .password--required--edition .item {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.account--edit--page--content .user--account--edition .password--required--edition .item .title {
  font-weight: bold;
  margin: 1pt;
  padding: 5pt;
}
.account--edit--page--content .user--account--edition .password--required--edition .not--center {
  flex-direction: row !important;
  width: 100% !important;
}
.account--edit--page--content .user--account--edition .noPassword--required--edition {
  margin-left: 5vw;
  width: 100%;
  padding: 20pt;
}
.account--edit--page--content .user--account--edition .noPassword--required--edition .item {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.text-danger {
  display: inline-block;
}

.auction--single {
  display: flex;
  flex-direction: row;
  margin-bottom: 5vh;
}
.auction--left--panel {
  flex: 3;
  margin-right: 2vw;
}
.auction--right--panel {
  flex: 2;
  margin-left: 2vw;
}
.auction--description {
  text-align: justify;
  padding: 0 1.5vw;
}
.auction--border {
  border: 1px solid;
  border-radius: 15px;
}
.auction--new--question {
  width: 50%;
  aspect-ratio: 15/4;
  resize: none;
  border-radius: 15px 0px 0px 15px;
}
.auction--new--question:focus-visible {
  outline-offset: unset;
  outline: unset;
}
.auction--add--bid {
  width: 100%;
  aspect-ratio: 4/1;
  margin-top: 5vh;
}
.auction--bid {
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  display: flex;
  flex-wrap: wrap;
}
.auction--bid h5 {
  flex: 3;
  padding-right: 1.5vw;
}
.auction--bid h3 {
  flex: 1;
  text-align: end;
}
.auction--bid p {
  flex: 0 0 100%;
  margin-bottom: 0;
  margin-top: 1rem;
}
.auction--bid hr {
  margin-top: 0;
  flex: 0 0 100%;
}
.auction--bid--popup {
  display: none;
  border: 1px solid;
  border-top: 0px;
  border-radius: 0px 0px 15px 15px;
  padding: 2.5vh 1.5vw;
}
.auction--bids--list {
  min-height: 60vh;
  max-height: 60vh;
  overflow-y: scroll;
}

.subsection--title {
  padding-left: 2vw;
  width: fit-content;
}

.add--question {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.add--question--button {
  width: 7%;
  border-radius: 0px 15px 15px 0px;
  border-left: 0px;
}
.add--question--button svg {
  width: 100%;
  aspect-ratio: 1/1;
}
.add--bid--button {
  width: 100%;
  height: 50%;
  font-size: x-large;
}
.add--bid--button svg {
  height: 100%;
  aspect-ratio: 1/1;
}

.questions--container {
  margin-top: 5vh;
  margin-left: 2vw;
  margin-right: 2vw;
}
.questions--container .question--single h5 {
  margin-bottom: 1.5vh;
}
.questions--container .question--single p {
  text-align: justify;
}
.questions--container .question--time {
  display: inline;
}
.questions--container .question--respond {
  display: inline;
  margin-left: 0.5vw;
  text-decoration: underline;
  cursor: pointer;
}
.questions--container .question--respond:hover {
  opacity: 70%;
}
.questions--container .question--response {
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}

.error--span {
  flex: 0 0 100%;
  text-align: center;
  padding-bottom: 1.5vh;
}

::-webkit-scrollbar {
  width: 24px;
}

::-webkit-scrollbar-track {
  background: #00000000;
}

::-webkit-scrollbar-thumb {
  background: #00000080;
  border: 9px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000B0;
  border: 9px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
}

.list--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.list--header .add--auction--button {
  text-decoration: none;
  padding: 10pt;
}

.auctions--column--container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.auctions--column--container .auction--icon .icon {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: fill;
  border-radius: 10pt;
}
.auctions--column--container .auction--middle--column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
}
.auctions--column--container .auction--title {
  font-size: x-large;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.auctions--column--container .auction--owner {
  float: right;
}
.auctions--column--container .auction--price {
  width: 10%;
  font-size: x-large;
}

.grecaptcha-badge {
  bottom: 80px !important;
}

.button--group {
  border: 1px solid;
  border-radius: 0px;
  border-collapse: collapse;
}
.button--group--first {
  border-radius: 0.4rem 0 0 0.4rem;
}
.button--group--last {
  border-radius: 0 0.4rem 0.4rem 0;
}

#subPopUp {
  display: none;
  background-size: cover;
  border-radius: 20px;
  position: fixed;
  width: 450px;
  top: 40%;
  left: 50%;
  margin-left: -225px;
  padding: 16px 8px 16px 8px;
  box-sizing: border-box;
  text-align: center;
  z-index: 1;
  /* Dialog box message */
}
#subPopUp .message {
  text-align: left;
  padding: 10px 30px;
  text-align: center;
}

.description--header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
