name: Deploy WebApp and BackgroundTasks

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
    - name: Restore
      run: dotnet restore
    - name: Build
      run: dotnet publish -p:PublishProfile=LinuxProfile
    - name: Copy WebApp to server
      uses: cross-the-world/ssh-scp-ssh-pipelines@v1.1.4
      with:
        host: bomil.ddns.net
        user: mvc
        pass: ${{ secrets.SSH_PASSWORD }}
        first_ssh: |  
          sudo systemctl stop mvc-webapp.service
          sudo rm -fr ./WebApp/
          sudo -u postgres psql postgres -c 'drop database "PortalAukcyjny2" with (force)'
        scp: |
          /home/runner/work/PortalAukcyjny/PortalAukcyjny/WebApp/bin/Debug/net6.0/publish/* => "/MVC/WebApp/"
        last_ssh: |
          chmod 777 /MVC/WebApp/WebApp
          sudo systemctl start mvc-webapp.service
    - name: Copy BackgroundTasks to server
      uses: cross-the-world/ssh-scp-ssh-pipelines@v1.1.4
      with:
        host: bomil.ddns.net
        user: mvc
        pass: ${{ secrets.SSH_PASSWORD }}
        first_ssh: |  
          sudo systemctl stop mvc-backgroundtasks.service
          sudo rm -fr ./BackgroundTasks/
        scp: |
          /home/runner/work/PortalAukcyjny/PortalAukcyjny/BackgroundTasks/bin/Debug/net6.0/publish/* => "/MVC/BackgroundTasks/"
        last_ssh: |
          chmod 777 /MVC/BackgroundTasks/BackgroundTasks
          sudo systemctl start mvc-backgroundtasks.service
    
    
