name: Deploy
on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Copy and build
      uses: cross-the-world/ssh-scp-ssh-pipelines@v1.1.4
      with:
        host: bomil.ddns.net
        user: mvc
        pass: ${{ secrets.SSH_PASSWORD }}
        first_ssh: |  
          sudo systemctl stop mvc-backgroundtasks.service
          sudo systemctl stop mvc-webapp.service
          sudo rm -fr /MVC/repo/PortalAukcyjny/
          sudo -u postgres psql postgres -c 'drop database "PortalAukcyjny2" with (force)'
        scp: |
          /home/runner/work/PortalAukcyjny/* => "/MVC/repo/PortalAukcyjny/"
        last_ssh: |
          cd /MVC/repo/PortalAukcyjny
          sudo dotnet build
          sudo systemctl start mvc-webapp.service
          sudo systemctl start mvc-backgroundtasks.service
    
    
