@model WebApp.Models.DTO.ResetPasswordModel
@using WebApp.Resources.Authentication
@{
    ViewData["Title"] = "Reset password";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset password</title>
</head>
<body>

<h4>Reset password</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-action="ResetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Guid" type="hidden" value="@Model.Guid"/>
            <div class="form-group">
                <label class="control-label">@Localization.Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@Localization.PasswordVerification</label>
                <input asp-for="PasswordVerification" class="form-control" />
                <span asp-validation-for="PasswordVerification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
