@using Auth = WebApp.Resources.Authentication.Localization
@using WebApp.Resources.Authentication
@{
    ViewData["Title"] = "Reset password";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset password</title>
</head>
<body>
    <div class="form--island">
        <h4>Reset password</h4>
        <div class="row">
            <div>
                <form method="post"  action="/Authentication/SendResetPasswordMail">
                    <div class="form--group--with--warning">
                        <label class="control-label form--label">@Localization.Email</label>
                        <input class="control--input form--input" class="control--input form--input" name="mail" value="" />
                    </div>
                    <div style="margin-top:10px; text-align: end;">
                        <input type="submit" value="Register" class="button button--primary button--rounded" />
                    </div>
                </form>
            </div>
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
